modules = ["nodejs-20", "postgresql-16"]
[agent]
expertMode = true
integrations = ["javascript_object_storage:2.0.0"]

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Backend API"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Website"

[[workflows.workflow]]
name = "Backend API"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run start"
waitForPort = 3000

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow]]
name = "Website"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd website && npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "autoscale"
run = ["npm", "run", "start"]
build = ["npm", "run", "build"]

[userenv]

[userenv.shared]
DISCORD_OAUTH_REDIRECT_URI = "https://3033fa7d-7e28-4c0c-8610-55f9f19e3722-00-3gdp2i75epk0p.kirk.replit.dev/api/auth/discord/callback"
COMPANION_APP_URL = "https://3033fa7d-7e28-4c0c-8610-55f9f19e3722-00-3gdp2i75epk0p.kirk.replit.dev"
GEMINI_API_KEY = "AIzaSyA85k8EdLfxVhDH-Cupov88PqnL7mtqiTY"
